body {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    justify-content: space-between;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    padding: 0px 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.left-one {
    display: flex;
    flex-direction: column;
    width: 325px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

img {
    height: 160px;
    width: auto;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.duo {
    width: 130.81px;
    text-align: center;
}

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

em {
    font-size: 36px;
    color: #1F2937;
}

strong {
    align-self: flex-end;
}

.container-four {
    display: flex;
    justify-content: space-between;
}

.footer {
    align-self: center;
}

h1, h2, h3, p {
    margin: 0px;
}