@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 2% 2%;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    padding-left: 2%;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 6% 2%;
    gap: 24px;
}

.left-one {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.right-one {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    max-height: 500px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.left-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    width: 125px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
}

img {
    max-height: 210px;
    width: auto;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 3% 2% 6% 2%;
    row-gap: 24px;
}

.images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.duo {
    max-width: 175px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.duo img {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 6% 2%;
}

em {
    font-size: 36px;
    color: #1F2937;
}

strong {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
    font-size: 24px;
}

.container-four {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 25px 50px;
    margin: 4% 2%;
    border-radius: 10px;
}

h3 {
    font-weight: 800;
    color: #F9FAF8;
}

.container-four p {
    color: #F9FAF8;
    font-size: 18px;
}

.sign-up-two {
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 10px;
    padding: 0px 25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2% 0px;
}

h1, h2, h3, p {
    margin: 0px;
}