body {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.header {
    display: flex;
}

.header-logo {
    margin-right: auto;
}

.link {
    padding: 0px 10px;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-one {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.right-one {
    height: 160px;
    width: 325px;
}

.container-two {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    align-items: center;
}

h1, h2, h3, p {
    margin: 0px;
}