body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 200px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    padding: 0px 10px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 200px;
}

.left-one {
    display: flex;
    flex-direction: column;
    width: 325px;
    row-gap: 5px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.left-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    width: 125px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
}

img {
    height: 160px;
    width: auto;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 200px 100px 200px;
    row-gap: 24px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.duo {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.duo img {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

em {
    font-size: 36px;
    color: #1F2937;
}

strong {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
    font-size: 24px;
}

.container-four {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 25px 50px;
    margin: 50px 200px;
    border-radius: 10px;
}

h3 {
    font-weight: 800;
    color: #F9FAF8;
}

.container-four p {
    color: #F9FAF8;
    font-size: 18px;
}

.sign-up-two {
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 10px;
    padding: 0px 25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 0px;
}

h1, h2, h3, p {
    margin: 0px;
}